
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-3">
        <a class="active" href="#"><img class="img-fluid" src="~/images/logos/Ariostea.png" /></a>
    </div>
    <div class="col-3">
        <a href="#news"><img class="img-fluid" src="~/images/logos/laminam.png" /></a>
    </div>
    <div class="col-3">
        <a href="#contact"><img class="img-fluid" src="~/images/logos/santa_margherita.png" /></a></a>
    </div>
    <div class="col-3">
        <a href="#about"><img class="img-fluid" src="~/images/logos/laminam.svg" /></a>
    </div>
</div>



