@model GalleryStructService.AxdWebGalleryStruct
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="accord" class="col-3">
   @for (int top = 0; top < Model.InventProductGroup.Length; top++)
    {
        <button class="accordion"><span>@Model.InventProductGroup[top].ProductGroupId</span></button>

       @if (Model.InventProductGroup[top].InventGroupBOM != null)
        {
            <div class="panel">
               @for (int bom = 0; bom < Model.InventProductGroup[top].InventGroupBOM.Length; bom++)
                {
                    <p><a asp-controller="" asp-action="">@Model.InventProductGroup[top].InventGroupBOM[bom].ChildProductGroupId</a></p>
                   @if (Model.InventProductGroup[top].InventGroupBOM[bom].InventGroupChild != null)
                    {
                        <div class="panel">
                           @for (int child = 0; child < Model.InventProductGroup[top].InventGroupBOM[bom].InventGroupChild.Length; child++)
                            {
                                <p><a asp-controller="" asp-action="">@Model.InventProductGroup[top].InventGroupBOM[bom].InventGroupChild[child].ChildProductGroupId</a></p>
                            }

                        </div>
                    }

                }
            </div>

        }
    }
</div>
