@model GalleryStructService.AxdEntity_FirstLevelGroup
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sidenav">
    <div id="accord">
       @for (int second = 0; second < Model.SecondLevelGroup.Length; second++)
        {
            <button class="accordion"><span>@Model.SecondLevelGroup[second].ChildProductGroupId</span></button>

           @if (Model.SecondLevelGroup[second].ThirdLevelGroup != null)
            {
            <div class="panel">
               @for (int third = 0; third < Model.SecondLevelGroup[second].ThirdLevelGroup.Length; third++)
                {
                    <p><a asp-controller="Gallery" asp-action="Items/@Model.SecondLevelGroup[second].ThirdLevelGroup[third].ChildProductGroupId">@Model.SecondLevelGroup[second].ThirdLevelGroup[third].ChildProductGroupId</a></p>

                   @if (Model.SecondLevelGroup[second].ThirdLevelGroup[third].FourthLevelGroup != null)
                    {
                     <div class="subpanel">
                      @for (int fourth = 0; fourth < Model.SecondLevelGroup[second].ThirdLevelGroup[third].FourthLevelGroup.Length; fourth++)
                       {
                          <p><a asp-controller="Gallery" asp-action="Items/@Model.SecondLevelGroup[second].ThirdLevelGroup[third].FourthLevelGroup[fourth].ChildProductGroupId">@Model.SecondLevelGroup[second].ThirdLevelGroup[third].FourthLevelGroup[fourth].ChildProductGroupId</a></p>
                       }
                     </div>

                    }
                }
            </div>
            }
           
        }
    </div>
</div>
<div class="cardsarea">
    @{await Html.RenderPartialAsync("Items", Model.SecondLevelGroup);}
</div>

