
@{
    ViewData["Title"] = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
            <!-- The sidebar -->
            <div class="sidebar">
                <a class="active" href="#"><img class="img-fluid" src="~/images/logos/Ariostea.png" /></a>
                <a href="#news"><img class="img-fluid" src="~/images/logos/laminam.png" /></a>
                <a href="#contact"><img class="img-fluid" src="~/images/logos/santa_margherita.png" /></a></a>
                <a href="#about"><img class="img-fluid" src="~/images/logos/laminam.svg" /></a>
            </div>

            <!-- Page content -->
            <div class="content">
                ..
            </div>



        
        <div class="col-9">

        </div>
        

    
